.git
.github

**/node_modules
frontend/dist

.env
.env.*
*.log
npm-debug.log*

backend/uploads
uploads

backend/build_output.txt
backend/build_errors.txt
backend/check_output.txt
backend/debug_output.txt
backend/setup_error_full.txt
frontend/lint_output.txt
